.addUserPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: 0.8s rollout;
}

.roll-out {
  animation: rollout 0.4s;
}

.addUserPage {
  width: 100%;
  border-radius: 30px;
}

/* .addUserPage>.card>.top {
  height: 80px;
  background: linear-gradient(180deg, #59be44 0%, #3a9b26 100%);
  border-radius: 50px 50px 0px 0px;
} */
.addUserPage > .bottom {
  padding: 25px;
}
.addUserPage > .bottom > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  max-height: 400px;
  overflow: auto;
}

.addUserPage > .bottom > form::-webkit-scrollbar {
  width: 0px;
}
.addUserPage > .bottom > form:hover::-webkit-scrollbar {
  width: 10px;
}

.addUserPage > .bottom.monthlySale > form > .inputField {
  width: 30%;
  margin-bottom: 10px;
}

.addUserPage > .bottom > h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23.8926px;
  line-height: 29px;
  letter-spacing: 0.238926px;
  color: var(--text);
  margin-top: -10px;
}

.addUserPage > .bottom > form > .inputField {
  width: 48%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.addUserPage > .bottom > form > .fullInputField {
  width: 100%;
  border-radius: 20px;
}

.addUserPage > .bottom > form > .fullInputField > label {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}

.addUserPage > .bottom > form > .editorBorder {
  border: 1px solid #cdcfd2;
  background: #fafafa;
}

.public-DraftStyleDefault-block {
  padding: 0 10px;
  height: 200px;
}

/* .addUserPage > .bottom > form > .inputField > div > div {
  border: 1px solid #cdcfd2;
} */

/* .addUserPage > .bottom > form > .inputField > div > div:focus,
.addUserPage > .bottom > form > .inputField > div > div:active,
.addUserPage > .bottom > form > .inputField > div > div:hover {
  outline: 2.3px solid #399b2670 !important;
  box-shadow: none !important;
  border-color: transparent;
} */

.addUserPage > .bottom > form > .inputField > label {
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  color: #4a4a4a;
}

.addUserPage > .bottom > form > .inputField > label > span,
.addUserPage > .bottom > form > .fullInputField > label > span {
  color: #ff0000;
}

.addUserPage > .bottom > form > .inputField > input,
.addUserPage > .bottom > form > .fullInputField > input,
.addUserPage > .bottom > form > .fullInputField > textarea,
.addUserPage > .bottom > form > .inputField > select,
.addUserPage > .bottom > form > .inputField > textarea {
  width: 100%;
  height: 40px;
  border: 0 solid #cdcfd2;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  padding-left: 15px;
  background: var(--background);
  color: var(--text);
}

.addUserPage > .bottom > form > .inputField > input:disabled,
.addUserPage > .bottom > form > .fullInputField > input:disabled,
.addUserPage > .bottom > form > .fullInputField > textarea:disabled,
.addUserPage > .bottom > form > .inputField > select:disabled,
.addUserPage > .bottom > form > .inputField > textarea:disabled {
  background-color: transparent;
  font-size: 1.2rem;
  margin-top: -5px;
  font-weight: 500;
}

.addUserPage > .bottom > form > .inputField > textarea {
  height: auto;
  padding-top: 5px;
}

.addUserPage > .bottom > form > .inputField > .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addUserPage > .bottom > form > .inputField > .img .imgPreviewRect {
  min-height: 200px;
  max-height: 500px;
  max-width: 50%;
  border: none;
}

.addUserPage > .bottom > form > .inputField > .img .imgPreviewRect > img {
  height: 100%;
  width: 100%;
}

.addUserPage > .bottom > form > .inputField > .img > .imgPreview {
  height: 122px;
  width: 122px;
  border-radius: 0px;
  border-radius: 50%;
  overflow: hidden;
}

.addUserPage > .bottom > form > .inputField .img input::file-seletor-button {
  background: #ebecf0;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.addUserPage > .bottom > form > .inputField > .img > .imgPreview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

.addUserPage
  > .bottom
  > form
  > .inputField
  input[type="file"]::file-selector-button {
  padding: 0 15px;
  height: 35px;
  width: 130px;
  background: linear-gradient(180deg, #f4f5f7 0%, #ebecf0 100%);
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  cursor: pointer;
}

.addUserPage > .bottom > form > .inputField > select,
.addUserPage > .bottom > form > .inputField option option {
  /* background: linear-gradient(180deg, #58bd43 0%, #3fa12a 100%); */
  background: var(--primaryColor);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-right: 8px solid transparent;
}

/* .addUserPage > .bottom > form > .inputField > input:hover,
.addUserPage > .bottom > form > .inputField > select:hover {
  outline: 1.3px solid var(--primaryColor);
  transition: 200ms ease-in-out;
} */

.addUserPage .bottom > form .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.addUserPage > .bottom > form > .btns button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 100px;
}

.addUserPage > .bottom > form > .btns a {
  text-decoration: none;
}

.addUserPage > .bottom > form > .btns > button.submit {
  background: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 20px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
}

.addUserPage > .bottom > form > .btns button.submit:hover {
  background: var(--white);
  color: var(--primaryColor);
  transition: 200ms ease-in-out;
}

.addUserPage > .bottom > form > .btns button.back {
  background: linear-gradient(180deg, #f4f5f7 0%, #ecedf1 100%);
  border: 2px solid #dfdfdf;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #5c5c5c;
}

.addUserPage > .bottom > form > .btns > button.back:hover {
  background: linear-gradient(180deg, #ffffff 0%, #dfdfdf 100%);
}
