.signup {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.signup .welcomeText h1 {
  font-size: 5rem;
  text-transform: capitalize;
  line-height: 4.2rem;
  color: var(--primaryColor);
  font-weight: 900;
}

.signup .welcomeText p {
  color: var(--primaryColor);
  font-size: 1.5rem;
  margin-top: -5px;
  text-align: center;
}

.signup h1 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: var(--primaryColor);
  text-transform: capitalize;
  font-weight: 600;
}

.signup form {
  width: 40%;
  max-width: 600px;
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  background: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: flex-start;
  max-height: 70vh;
  overflow: auto;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signup form::-webkit-scrollbar {
  display: none;
}

.signup .welcomeText {
  width: 40%;
  padding: 0;
  margin: 0;
}

form .half {
  width: 45%;
}

form .full {
  width: 100%;
}

form .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

form .input-field label {
  color: var(--text);
  margin-left: 20px;
}

form .input-field input,
form .input-field select,
form .input-field textarea {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 30px;
  background: var(--secondaryBG);
  outline: none;
  color: var(--text);
  outline: none;
}

form .input-field input:focus,
form .input-field select:focus,
form .input-field textarea:focus {
  background: var(--background);
  outline: none;
}

form .input-field input::placeholder {
  font-size: 1rem;
  color: var(--lightest);
}

form .input-field #password {
  padding-right: 3.5rem;
}

.signup form button[type="submit"] {
  border: none;
  width: 100%;
  margin: 0;
  background: var(--primaryColor);
  margin-top: 10px;
  padding: 15px;
  border-radius: var(--borderRadius);
  border: 2px solid var(--primaryColor);
  position: sticky;
  bottom: 0px;
}

.signup .showPasswordBtn {
  all: unset;
  position: absolute;
  right: 22px;
  top: 35px;
  color: var(--text);
  font-size: 1.3rem;
  cursor: pointer;
}

.signup form button[type="submit"]:hover {
  background: var(--white);
}

.signup .bottom-text {
  font-size: 14px;
  width: 100%;
  color: grey;
  text-align: center;
}

.signup .bottom-text a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primaryColor);
}

.results {
  width: 100%;
}

.searchTabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
}

.searchTabs button {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .signup {
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin-bottom: 4rem;
    align-items: center;
  }

  .signup .welcomeText {
    width: 100%;
    padding: 2rem 0;
    margin: 0;
  }

  .signup .welcomeText h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .signup .welcomeText p {
    font-size: 1rem;
    margin-top: 0;
  }

  .signup h1 {
    font-size: 1.5rem;
  }

  .signup form {
    width: 80%;
    padding: 1rem;
    justify-content: center;
    border-radius: var(--borderRadius);
  }

  .signup form .half {
    width: 100%;
  }

  .signup .bottom-text {
    font-size: 10px;
  }

  .signup .slider {
    width: 97%;
  }
}