.dashboard {
  width: 100%;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}

.dashboard .globe-graph {
  background: var(--primaryColor);
  border-radius: 50px;
  width: 50%;
  min-height: 250px;
}

.dashboard .globe-graph svg {
  max-height: 400px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.dashboard .mid h4,
.dashboard .table h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--heading);
}

.dashboard .mid h4 {
  margin-bottom: -2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
}
.dashboard .mid .echarts-for-react {
  width: 100%;
}

.dashboard .mid .echarts-for-react div {
  width: 100% !important;
}

.dashboard .table table tr {
  height: 60px;
}

.dashboard > .bottom {
  box-shadow: var(--shadow);
}

.dashboard .table table th {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}

.dashboard .table table tr,
.dashboard .table td {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}
