.dashboardContainer {
  width: auto;
  max-width: 100%;
  height: auto;
  display: flex;
  transition: all ease-in-out 1s;
}

.dbOpen {
  padding-left: 200px;
}

.dbClose {
  padding-left: 65px;
}

.dashboardContainer .leftSide {
  width: 200px;
  position: fixed;
  margin-top: 3px;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--white);
  height: 99vh;
  padding-bottom: 50px;
  transition: all ease-in-out 0.8s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leftSide.collapsed {
  width: 75px;
  border-radius: 40px;
  margin-left: 10px;
}

.dashboardContainer .leftSide .logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  margin-bottom: 1rem;
}

.dashboardContainer .leftSide .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--primaryColor);
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.leftSide.Uncollapsed {
  margin: 10px 0;
}

.leftSide .main-heading {
  font-size: 1.5rem;
}

.leftSide.collapsed .main-heading {
  display: none;
}

.leftSide.Uncollapsed {
  width: 200px;
  margin-left: 10px;
  border-radius: 30px;
  padding: 1rem;
}

.dashboardContainer .leftSide::-webkit-scrollbar {
  display: none;
}

.dashboardContainer .leftSide .logo img {
  width: 130px;
  height: 50px;
  filter: brightness(0%) invert(100%);
}

.closeSideBarBtn {
  position: absolute;
  left: 150px;
  z-index: 10;
  top: 13px;
  border: none;
  height: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  color: grey;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
}

.closeSideBarBtn:hover {
  background: var(--primaryColor);
  color: white;
  transition: 200ms ease-in-out;
}

.collapsed > .closeSideBarBtn {
  display: none !important;
}

.dashboardContainer .leftSide .navMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  transition: all ease-in-out 0.3s;
}

.dashboardContainer .leftSide.collapsed .navMenu {
  align-items: center;
}

.dashboardContainer .leftSide .navMenu svg {
  filter: brightness(1);
  color: white;
}

.dashboardContainer .leftSide .navMenu > a.menu {
  width: 100%;
  height: 45px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  margin-top: 1px;
  color: var(--text);
  border-radius: 50px;
}

.dashboardContainer .leftSide.collapsed .navMenu > a.menu {
  justify-content: center;
}

.dashboardContainer .leftSide .navMenu > a.menu span {
  color: var(--text);
  font-weight: 400;
  font-size: var(--paraSize);
}

.dashboardContainer .leftSide .navMenu > a.menu:hover {
  background: var(--primaryColor);
  transition: 200ms ease-in;
  color: white;
  border-radius: 50px;
}

.dashboardContainer .leftSide .navMenu > a.menu:hover span {
  color: white;
}

.dashboardContainer .leftSide .navMenu > a.menu.active .menuIcon {
  color: var(--primaryColor);
}

.dashboardContainer .leftSide .navMenu > a.menu:hover .menuIcon > i,
.dashboardContainer .leftSide .navMenu > a.menu.active .menuIcon > i {
  color: white !important;
}

.dashboardContainer .leftSide .navMenu a.menu .menuIcon {
  width: 15px;
  margin-right: 1rem;
}

.dashboardContainer .leftSide .navMenu > a.menu > .menuIcon img {
  width: 100%;
}

/* .dashboardContainer .leftSide .navMenu .multi-menu {
  background: #5cc1483b;
} */

.dashboardContainer .leftSide .navMenu > a.active,
.dashboardContainer .leftSide .navMenu > a:hover {
  background: var(--primaryColor);
  border-radius: 50px;
  color: white;
  margin-bottom: 3px;
}

.dashboardContainer .leftSide.collapsed .navMenu > a.active,
.dashboardContainer .leftSide.collapsed .navMenu > a:hover {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.dashboardContainer .leftSide.collapsed .navMenu > a .menuIcon,
.dashboardContainer .leftSide.collapsed .navMenu .subMenu span .menuIcon {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
}

.dashboardContainer .leftSide.collapsed .navMenu > a.active span,
.dashboardContainer .leftSide.collapsed .navMenu > a span,
.dashboardContainer .leftSide.collapsed .navMenu > a .arrow,
.dashboardContainer .leftSide.collapsed .navMenu .subMenu span {
  display: none;
}

.dashboardContainer .leftSide .navMenu > a.active span {
  font-family: "Poppins", sans-serif;
  color: white;
}

.dashboardContainer .leftSide .navMenu a .menuIcon {
  width: 15%;
}

.dashboardContainer .leftSide .navMenu a .menuIcon img {
  width: 20%;
}

.dashboardContainer .leftSide .navMenu a span {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--paraSize);
  color: var(--lightest);
}

.dashboardContainer .leftSide .navMenu a svg,
.dashboardContainer .leftSide .navMenu a i {
  /* fill: rgb(0, 0, 0); */
  color: var(--text);
  font-size: var(--paraSize);
}

.dashboardContainer .leftSide .navMenu .subMenu {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100%;
  background: var(--background);
  border-radius: 20px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset; */
}

.dashboardContainer .leftSide .navMenu .multi-menu img.arrow {
  filter: brightness(50%);
}

/* .dashboardContainer .leftSide .navMenu .active.multi-menu img.arrow,
.dashboardContainer .leftSide .navMenu .multi-menu:hover img.arrow {
  filter: brightness(0%) invert(80%);
} */

.dashboardContainer .leftSide .navMenu .subMenu a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  transition: 600ms ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 40px;
}

.dashboardContainer .leftSide.collapsed .navMenu .subMenu {
  width: 60px;
}

.dashboardContainer .leftSide.collapsed .navMenu .subMenu a {
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dashboardContainer .leftSide.collapsed .navMenu .subMenu a {
  transition: 600ms ease-in-out;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover,
.dashboardContainer .leftSide .navMenu .subMenu a.active {
  background: var(--secondaryBG);
  cursor: pointer;
  transition: 200ms ease-in;
  border-radius: 40px;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover span,
.dashboardContainer .leftSide .navMenu .subMenu a.active span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--paraSize);
  letter-spacing: 0.2px;
  color: #a1a1a1;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover i,
.dashboardContainer .leftSide .navMenu .subMenu a.active i {
  color: var(--primaryColor);
}

.dashboardContainer .leftSide .navMenu .subMenu a .menuIcon {
  width: 20%;
}

.dashboardContainer .leftSide .navMenu .subMenu a .menuIcon i {
  width: 50%;
  color: var(--lightest);
}

/* DashHeader */

.dashboardContainer .rightSide {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashHeader {
  width: 100%;
  /* padding-left: 200px; */
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* border-bottom: 2px solid #f1f1f1; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  transition: 200ms ease-in-out;
  backdrop-filter: blur(8px);
}

.dashHeader > .left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-content: center;
  border-right: 2px solid #f1f1f1;
  padding: 0 35px;
}

.dashHeader.collapsed > .left {
  padding-left: 100px;
  transition: 300ms ease-in-out;
}

.dashHeader.Uncollapsed > .left {
  padding-left: 230px;
  transition: 300ms ease-in-out;
}
.dashHeader > .left > .left {
  display: flex;
  align-items: center;
  height: 100%;
}

.dashHeader > .left > .left > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 33px;
  color: var(--primaryColor);
}

.dashHeader > .left > .left > .icon,
.dashHeader > .left > .right > .icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.dashHeader > .left > .left > .icon,
.dashHeader > .left > .right > .icon i {
  color: var(--primaryColor);
}

.dashHeader > .left > .right > .icon img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 4px solid var(--primaryColor);
}

.dashHeader > .left > .left > .icon i {
  color: var(--primaryColor);
  font-size: 2rem;
}

.dashHeader > .left > .right > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--primaryColor);
  margin-right: 20px;
}

.dashHeader > .left > .right {
  display: flex;
  height: 100%;
  align-items: center;
}

.dashHeader .left .icon.user {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.dashHeader > .right {
  display: flex;
  width: 15%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dashHeader > .right .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dashHeader > .right .icon i {
  width: 100%;
  height: 100%;
}

.dashboardContainer .rightSide {
  min-height: calc(100vh - 80px);
  max-width: 100%;
  width: 100%;
}

.dashboardContainer .rightSide .page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  max-width: 1020px;
  padding: 0 2rem;
  margin-top: 6rem;
}

.dashboardContainer .rightSide .page-container .container {
  width: 100%;
}

footer {
  padding: 1rem 1rem;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  color: #a8a8a8;
  margin-bottom: 0px;
}

footer p a {
  text-decoration: none;
  color: var(--primary-color) !important;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .leftSide.collapsed {
    width: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .dashHeader.collapsed {
    padding-left: 65px;
  }
  .dashHeader.Uncollapsed {
    padding-left: 210px;
  }
}

@media screen and (max-width: 768px) {
  .dashHeader {
    padding: 0;
  }
  .dashHeader .left {
    padding: 0;
  }

  .dashHeader.collapsed > .left {
    padding-left: 0;
  }
}
