.dashboardContainer {
  width: auto;
  height: 100%;
  display: flex;

  transition: all ease-in-out 1s;
}

.dbOpen {
  padding-left: 277px;
}

.dbClose {
  padding-left: 65px;
}

.dashboardContainer .leftSide {
  width: 277px;
  position: fixed;
  margin-top: 3px;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--primary-color);
  height: 99vh;
  overflow: auto;
  padding-top: 101px;
  padding-bottom: 50px;
  transition: all ease-in-out 0.8s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  backdrop-filter: blur(10px);
}

.leftSide.collapsed {
  width: 65px;
  border-radius: 0 40px 40px 0;
}

.leftSide.Uncollapsed {
  width: 277px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.dashboardContainer .leftSide::-webkit-scrollbar {
  display: none;
}

.dashboardContainer .leftSide .logo {
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 277px;
  border-top-right-radius: 20px;
}

.dashboardContainer .leftSide .logo img {
  width: 130px;
  height: 50px;
  filter: brightness(0%) invert(100%);
}

.closeSideBarBtn {
  position: fixed;
  left: 231px;
  z-index: 10;
  top: 13px;
  border: none;
  height: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  color: grey;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
}

.closeSideBarBtn:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  transition: 200ms ease-in-out;
}

.collapsed > .closeSideBarBtn {
  display: none !important;
}

.dashboardContainer .leftSide .navMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 277px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.dashboardContainer .leftSide .navMenu svg {
  filter: brightness(1);
  color: white;
}

.dashboardContainer .leftSide .navMenu > a.menu {
  width: 100%;
  height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  margin-top: 1px;
}

.dashboardContainer .leftSide .navMenu > a.menu:hover {
  background: whitesmoke;
  transition: 200ms ease-in;
  border-radius: 0 50px 50px 0;
}

.dashboardContainer .leftSide .navMenu > a.menu:hover span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c1c1c;
}

.dashboardContainer .leftSide .navMenu > a.menu:hover .menuIcon {
  filter: brightness(0);
}

.dashboardContainer .leftSide .navMenu a.menu .menuIcon {
  width: 25px;
  margin-right: 1.5rem;
}

.dashboardContainer .leftSide .navMenu > a.menu > .menuIcon img {
  width: 100%;
}

/* .dashboardContainer .leftSide .navMenu .multi-menu {
  background: #5cc1483b;
} */

.dashboardContainer .leftSide .navMenu > a.active {
  background: whitesmoke;
  border-radius: 0 50px 50px 0;
  color: #101010;
}

.dashboardContainer .leftSide .navMenu > a.active span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c1c1c;
}

.dashboardContainer .leftSide .navMenu a .menuIcon {
  width: 15%;
}

.dashboardContainer .leftSide .navMenu a .menuIcon img {
  width: 20%;
}

.dashboardContainer .leftSide .navMenu a span {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #fbfbfb;
}

.dashboardContainer .leftSide .navMenu a svg,
.dashboardContainer .leftSide .navMenu a i {
  /* fill: rgb(0, 0, 0); */
  color: #fbfbfb;
}

.dashboardContainer .leftSide .navMenu .subMenu {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100%;
  background: #5858588c;
  box-shadow: rgb(11, 11, 11) 3px 3px 6px 0px inset,
    rgba(53, 53, 53, 0.5) -3px -3px 6px 1px inset;
}

.dashboardContainer .leftSide .navMenu .multi-menu img.arrow {
  filter: brightness(50%);
}

.dashboardContainer .leftSide .navMenu .active.multi-menu img.arrow,
.dashboardContainer .leftSide .navMenu .multi-menu:hover img.arrow {
  filter: brightness(0%) invert(80%);
}

.dashboardContainer .leftSide .navMenu .subMenu a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  margin-bottom: 2px;
  transition: 600ms ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  border-radius: 0 50px 50px 0;
}

.dashboardContainer .leftSide.collapsed .navMenu .subMenu a {
  padding-left: 17px;
  transition: 600ms ease-in-out;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover,
.dashboardContainer .leftSide .navMenu .subMenu a.active {
  background: rgb(81 81 81);
  cursor: pointer;
  transition: 200ms ease-in;
  border-radius: 0 50px 50px 0;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover span,
.dashboardContainer .leftSide .navMenu .subMenu a.active span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #a1a1a1;
}

.dashboardContainer .leftSide .navMenu .subMenu a:hover img,
.dashboardContainer .leftSide .navMenu .subMenu a.active img {
  filter: invert(1) sepia(100) saturate(80) hue-rotate(125deg);
  opacity: 0.5;
}

.dashboardContainer .leftSide .navMenu .subMenu a .menuIcon {
  width: 20%;
}

.dashboardContainer .leftSide .navMenu .subMenu a .menuIcon img {
  width: 50%;
}

/* DashHeader */

.dashboardContainer .rightSide {
  width: 100%;
  padding-bottom: 100px;
}

.dashHeader {
  width: 100%;
  /* padding-left: 277px; */
  display: flex;
  justify-content: space-between;
  height: 101px;
  align-items: center;
  /* border-bottom: 2px solid #f1f1f1; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  transition: 200ms ease-in-out;
  backdrop-filter: blur(8px);
}

.dashHeader > .left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-content: center;
  border-right: 2px solid #f1f1f1;
  padding: 0 20px;
}

.dashHeader > .left > .left {
  display: flex;
  align-items: center;
  height: 100%;
}

.dashHeader > .left > .left > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #f1f1f1;
}

.dashHeader > .left > .left > .icon,
.dashHeader > .left > .right > .icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.dashHeader > .left > .right > .icon img {
  width: 100%;
  height: 100%;
}

.dashHeader > .left > .left > .icon i {
  color: white;
  font-size: 2rem;
}

.dashHeader > .left > .right > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #f8f8f8;
  margin-right: 20px;
}

.dashHeader > .left > .right {
  display: flex;
  height: 100%;
  align-items: center;
}

.dashHeader .left .icon.user {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.dashHeader > .right {
  display: flex;
  width: 15%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dashHeader > .right .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dashHeader > .right .icon i {
  width: 100%;
  height: 100%;
}

.dashboardContainer .rightSide .page-container {
  padding: 3rem;
  padding-top: 150px;
  min-height: 94vh;
  transition: all ease-in-out 0.6s;
}

footer {
  padding: 1rem 3rem;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  color: #a8a8a8;
  margin-bottom: 0px;
}

footer p a {
  text-decoration: none;
  color: var(--primary-color) !important;
  font-weight: 600;
  cursor: pointer;
}
