.dashboard {
  width: 100%;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  height: auto;
}

.dashboard .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-heading {
  font-weight: 900;
  color: var(--primaryColor);
  font-size: "3rem";
}

.dashboard .globe-graph {
  background: #edd9ff;
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  width: 49%;
  height: 300px;
}

.dashboard .cards {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  height: 300px;
}

.dashboard .cards .sm-card {
  width: calc(49% - 0.5rem);
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  background: white;
  height: 48%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(91, 91, 91);
}

.dashboard .cards .cardColor1 {
  background: #fff4cf96;
}

.dashboard .cards .cardColor2 {
  background: #ffc0c087;
}

.dashboard .cards .cardColor3 {
  background: #d9c7ff;
}

.dashboard .cards .cardColor4 {
  background: #ffcaff85;
}

.dashboard .cards .sm-card h3 {
  color: #000000ab;
  font-weight: 900;
  font-size: 2.5rem;
}

.dashboard .cards .sm-card h6 {
  width: 100%;
  text-align: right;
}

.dashboard .cards .sm-card h6 span.plus {
  color: rgb(19, 255, 19);
}

.dashboard .cards .sm-card h6 span.minus {
  color: red;
}

.dashboard .globe-graph svg {
  max-height: 400px;
}

.dashboard .mid {
  padding: 1.5rem;
  background: var(--white);
  width: 100%;
}

.dashboard .mid h4,
.dashboard .table h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--heading);
}

.dashboard .mid h4 {
  margin-bottom: -2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.dashboard .mid .echarts-for-react {
  width: 100%;
}

.dashboard .mid .echarts-for-react div {
  width: 100% !important;
}

.dashboard .table table tr {
  height: 60px;
}

.dashboard > .bottom {
  box-shadow: var(--shadow);
  max-width: 100%;
  border-radius: var(--borderRadius);
}

.dashboard .table table th {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}

.dashboard .table table tr,
.dashboard .table td {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .dashboard .top {
    flex-direction: column;
    gap: 10px;
  }

  .dashboard .cards {
    width: 100%;
  }

  .dashboard .globe-graph {
    width: 100%;
  }

  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard .cards {
    height: auto;
  }
  .dashboard .cards .sm-card {
    width: 100%;
    min-height: 150px;
  }
  .dashboard .cards .sm-card h3 {
    color: #000000ab;
    font-weight: 900;
    font-size: 2.5rem;
  }
}
