.responsiveTable {
  overflow: auto !important;
  min-width: 100%;
}

.responsiveTable .table {
  overflow: auto !important;
  min-width: 1150px;
}

@media screen and (max-width: 1200px) {
  .dNone {
    display: none;
  }

  footer p {
    text-align: center;
  }
  .inputField {
    width: 100% !important;
    min-width: 200px;
  }

  .addUserPage > .card > .bottom > h3 {
    margin-top: 2rem;
    margin-left: 1.5rem !important;
  }

  .addUserPage > .card > .bottom > form {
    padding: 0 1.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .leftSide.collapsed {
    width: 0px;
    overflow: hidden;
  }

  .dbClose {
    padding-left: 0 !important;
  }

  .dbOpen {
    padding-left: 0 !important;
  }
  .dashboardContainer .rightSide .page-container {
    padding: 120px 10px 10px 10px !important;
  }

  .adminUserPage {
    padding: 1rem !important;
  }

  .adminUserPage > .top > a {
    font-size: 18px;
  }

  .adminUserPage > .top > a > span {
    width: 30px;
    height: 30px;
  }
  .filter > select {
    width: 150px;
  }

  .adminUserPage > .top {
    flex-wrap: wrap !important;
    margin-bottom: 10px;
  }

  .adminUserPage > .top label {
    display: none;
  }

  .adminUserPage > .top > .filter {
    justify-content: flex-end !important;
  }

  .pagination > button.activeBtn {
    display: block;
  }

  .pagination > button.pageBtn {
    display: none !important;
  }

  .pagination {
    justify-content: center !important;
    flex-wrap: nowrap !important;
  }

  .adminUserPage > .top > a {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 300px) {
  .adminUserPage > .top > .filter {
    display: none !important;
  }

  .adminUserPage > .top > a {
    width: 100% !important;
  }

  .addUserPage > .card > .bottom > form > .inputField {
    min-width: 0 !important;
  }
}
