.checkbox {
  /* transform: scale(1.5); */
  width: 60px;
  height: 25px;
  background: rgb(88, 190, 88);
  border: 2.5px solid rgb(87, 182, 87);

  border-radius: 22.1731px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 0.5px 1px 0px rgba(50, 50, 50, 0.72);
  transition: 300ms ease-in-out;
}

.checkbox--on {
  flex-direction: row;
  background: linear-gradient(180deg, #df4c4c 0%, #d12f2f 100%);
  border: 1.23184px solid #861212;
  color: white;
  transition: 300ms ease-in-out;
}

.checkbox--on .checkbox__ball {
  width: 21.97px;
  height: 22.15px;
  background: #ffffff;
  box-shadow: 0px 2.86105px 2.86105px rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in-out;
}

.checkbox__ball {
  background: whitesmoke;
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.72);
  width: 20px;
  height: 100%;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

/* .checkbox__text {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-right: 5px;
} */

/* Pagination */

.pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 45px;
}

.pagination > button {
  border: none;
  background: transparent;
  height: 100%;
}

.pagination > button.pageBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  color: #f49c1c;
}

.pagination > button.pageBtn:hover,
.pagination > button.prev:hover,
.pagination > button.next:hover {
  background: #f49c1c;
  border: 1px solid #dfdfdf;
  transition: 200ms ease-in-out;
  color: #ffffff;
}

.pagination > button.activeBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  background: #f49c1c;
  border: 1px solid #dfdfdf;
  border-radius: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  color: #ffffff;
}

.pagination > button.prev {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 30px;
  background: linear-gradient(180deg, #f4f5f7 0%, #eaebef 100%);
  border: 1px solid #dfdfdf;
  border-radius: 10px 0px 0px 10px;
}

.pagination > button.next {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;

  height: 100%;
  background: linear-gradient(180deg, #f4f5f7 0%, #eaebef 100%);
  border: 1px solid #dfdfdf;
  border-radius: 0px 10px 10px 0px;
}
