.checkbox {
  /* transform: scale(1.5); */
  width: 60px;
  height: 25px;
  background: var(--primaryColor);
  border-radius: 22px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 0.5px 1px 0px rgba(50, 50, 50, 0.72);
  transition: 300ms ease-in-out;
}

.checkbox--on {
  flex-direction: row;
  background: var(--background);
  /* border: 1px solid var(--primaryColor); */
  color: white;
  transition: 300ms ease-in-out;
}

.checkbox--on .checkbox__ball {
  width: 25px;
  height: 25px;
  background: var(--primaryColor);
  box-shadow: 0px 2.86105px 2.86105px rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in-out;
}

.checkbox__ball {
  background: whitesmoke;
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.72);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

/* .checkbox__text {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-right: 5px;
} */

/* Pagination */

.pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pagination > button {
  border: none;
  background: transparent;
  height: 45px;
}

.pagination > button.pageBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 0px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  color: var(--primary-color);
}

.pagination > button.pageBtn:hover,
.pagination > button.prev:hover,
.pagination > button.next:hover {
  background: var(--primary-color);
  border: 1px solid #dfdfdf;
  transition: 200ms ease-in-out;
  color: #ffffff;
}

.pagination > button.activeBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  background: var(--primary-color);
  border: 1px solid #dfdfdf;
  border-radius: 0px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7222px;
  line-height: 19px;
  color: #ffffff;
}

.pagination > button.prev {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 30px;
  background: whitesmoke;
  border: 1px solid #dfdfdf;
  border-radius: 30px 0px 0px 30px;
  height: 45px;
}

.pagination > button.next {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;

  height: 45px;
  background: whitesmoke;
  border: 1px solid #dfdfdf;
  border-radius: 0px 30px 30px 0px;
}

/* MenuControls */
.menuControls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuControls > li {
  padding: 15px 15px;
  color: grey;
  font-weight: 500;
  font-size: 16px;
  min-width: 200px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.082);
}

.menuControls > li:hover {
  background: whitesmoke;
  cursor: pointer;
  color: var(--primaryColor);
  transition: 200ms ease-in;
}

.menuControls > li i {
  margin-right: 5px;
}
