.adminUserPage {
  width: 100%;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: var(--white);
  max-width: 1320px;
}


.adminUserPage>.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminUserPage>.top>.filter {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  column-gap: 10px;
  align-items: center;
}

.filter>label {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.adminUserPage>.top>.filter>select {
  color: var(--text);
  border: none;
  border-right: 8px solid transparent;
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  background: var(--primary-color);
}

.adminUserPage>.top {
  margin-bottom: 1rem;
}

.adminUserPage>.top>a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  color: #000000;
  width: 40%;
}

.adminUserPage>.top>a>span {
  width: 38px;
  height: 38px;
  background: var(--primaryColor);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminUserPage>.top>a>span:hover {
  transition: 200ms ease-in-out;
  background: var(--secondaryBG);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}

.adminUserPage>.top>a>span>img {
  height: 19px;
  width: 19px;
  border-radius: 0px;
}

.table {
  animation: 0.5s rollout;
}

.adminUserPage table th {
  border-bottom: 0px solid transparent;
}

.adminUserPage table thead {
  background: #ececf0;
  height: 3.5rem;
}

.adminUserPage table td {
  border-left: 1px solid transparent !important;
}

.adminUserPage table tr:nth-of-type(even) {
  background: #ececf0;
}

.adminUserPage .controls {
  display: flex;
  column-gap: 6px;
}

.adminUserPage .controls a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminUserPage .controls a>img,
.adminUserPage .controls a>i {
  /* height: 20px;
  width: 20px; */
  border-radius: 0px;
  color: grey;
}

.adminUserPage .controls a:hover {
  background: var(--primary-color);
  border: var(--primary-color);
  transition: 200ms ease-in-out;
}

.adminUserPage .controls a:hover i {
  color: white;
}


.adminUserPage .controls .delete:hover {
  background: linear-gradient(180deg, #f44336 0%, #c52e23 100%);
  border: 1px solid linear-gradient(180deg, #ff1100 0%, #c52e23 100%);
  transition: 200ms ease-in-out;
}



.adminUserPage .table .image {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.adminUserPage .table .image img {
  width: 100%;
  min-height: 100%;
}