.table tr.rowHeight3 {
  height: 3.5rem;
}

.card {
  border-radius: 50px;
  border: none;
  box-shadow: var(--shadow);
}

.black {
  filter: invert(100%) brightness(0%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  color: red;
  font-size: 14px;
}

.table {
  animation: 0.5s rollout;
  padding: 2rem;
  background: #ffff;
  border-radius: 30px;
}

.table > table {
  background-color: #ffff;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 0;
  width: 100%;
}

.table > table th {
  border: none !important;
}

.table > table input {
  height: 25px;
  border-radius: 20px;
  width: 25px;
}

@keyframes rollout {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: none;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
