.table tr.rowHeight3 {
  height: 3.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  color: red;
  font-size: 14px;
}

@keyframes rollout {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: none;
  }
}
