@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* --primaryColor: blueviolet;\ */
  /* --primaryColor: #016bb9; */
  --primaryColor: #16a086;
  --secondaryColor: rgb(44, 44, 44);
  --white: white;
  --heading: rgb(66, 66, 66);
  --chatBG: rgba(193, 193, 193, 0.164);
  --lightest: rgba(128, 128, 128, 0.308);

  --text: rgb(154, 154, 154);
  --background: whitesmoke;
  --secondaryBG: rgb(243, 243, 243);
  --color: rgb(48, 48, 48);
  --cardColor: rgb(252, 252, 252);
  --glassBG: rgba(255, 255, 255, 0.505);
  --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --hoverShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --borderRadius: 2em;

  --btnBG: blueviolet;
  --btnText: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"); */

  /* background-image: url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1267&q=80"); */

  /* background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"); */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: auto;
  background: var(--background);
}

#root {
  width: 100%;
  height: 100vh;
}

.bgWhite {
  background: white;
}
